DB_NAME=market
DB_USERNAME=market_user
DB_PASSWORD=market_password
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_MARKET_CLIENT_ID=market-client
KEYCLOAK_MARKET_CLIENT_SECRET=market-client-secret
